@charset "UTF-8";

/* 全体 */
body
{
	background-color: rgb(230, 230, 200); /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}

/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav, footer 
{
	background-color: rgb(240, 60, 60); /* 背景色 */
	color: rgb(30, 30, 30); /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}

/* ヘッダー内見出し */
header h1 
{
	font-size: 20pt;
	margin: 10px auto;
}

/* 表 */
table 
{
    margin: 5px auto;
    min-width: 400px;
}

/* 表線 */
table, th, td 
{
	border-collapse: collapse;
	border-radius: 5px;
	border: 1px solid #7d8bae;
}

/* ボタン */
button 
{
	margin: 2px;
	padding: 5px 20px;
	background-color:rgb(240, 100, 100);
	color: rgb(240, 240, 240);
	border: 1px solid rgb(240, 120, 120);
	border-radius: 5px;
	height: 30px;
	width:120px;
	font-weight: 700;
	transition: 0.3s;
}

/* 送信ボタン(マウスオーバー時) */
button:hover 
{
	color: rgb(30, 30, 30);
	background-color: #f1b2b2;
	cursor: pointer;	/*カーソル変更*/
}

/*テキスト入力欄*/
.textBox
{
	width: 220px;
	height: 20px;
	padding: 5px 20px;
	border-radius: 5px;
	border: 2px solid #ccc
}

/*テキスト入力欄フォーカス時*/
.textBox:focus
{
	outline: 0;
	border: 2px solid #2196f3;
}

/*テキストエリア*/
textarea
{
	width: 220px;
	height: 100px;
	padding: 5px 20px;
	border-radius: 5px;
	border: 2px solid #ccc
}

/*テキストエリアフォーカス時*/
.textarea:focus
{
	outline: 0;
	border: 2px solid #2196f3;
}

/*カテゴリー検索欄*/
categories
{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
	background-color: #f1b2b2;
}

/*カテゴリー検索リンク*/
categories a
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 3px;
	width: 80px;
	height: 30px;
	color: rgb(240, 240, 240);
	background-color:rgb(240, 100, 100);
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
}

/*カテゴリー検索リンク(マウスオーバー時)*/
categories a:hover
{
	color: rgb(30, 30, 30);
	background-color: #f1b2b2;
}

/*レシピ一覧表*/
recipes table
{
	width: 400px;
	height: 100px;
	border-radius: 5px;
}

/*レシピ一覧表内リンク*/
recipes table a
{
	width: 300px;
	height: 60px;
	color: rgb(51, 51, 51);
	text-decoration: none;
	transition: 0.3s;
}

/*レシピ詳細リンク*/
recipes table recipe a
{
	font-size: 30px;
	text-align: center;
	vertical-align: 20px;
	font-weight: 700;
}

/*レシピユーザー詳細リンク*/
recipes table user a
{
	font-size: 15px;
	text-align: center;
	vertical-align:auto;
	color: rgb(51, 51, 51);
}

/*レシピ一覧表内リンク(マウスオーバー時)*/
recipes table a:hover
{
	color: rgb(30, 30, 30);
	background-color: #f1b2b2;
}

/*レシピ一覧表内テキスト*/
recipes table div
{
	font-size: 15px;
	text-align: center;
	vertical-align:auto;
	color: rgb(51, 51, 51);
}

/*レシピ詳細テキスト*/
.recipeDetail
{
	
}