<header>
	
	<isLogin th:if="${@account.name} != null AND ${@account.id} != null">
		<h1>[[${@account.name}]]さん、ようこそ</h1>
		
		<form th:action="@{/recipes/user/detail/{id}(id = ${@account.id})}" method="get">
			<button>マイページ</button>
		</form>
		<form action="/logout" method="get">
			<button>ログアウト</button>
		</form>
	</isLogin>
	
	<isLogout th:if="${@account.name} == null OR  ${@account.id} == null">
		<h1>ゲストさん、ようこそ</h1>
		<form action="/login" method="get">
			<button>ログイン</button>
		</form>
		
<!--		<post>-->
<!--			<form action="/login" method="get">-->
<!--				<button>投稿</button>-->
<!--			</form>-->
<!--		</post>-->
	</isLogout>
	
</header>