<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ一覧</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	
	<h1>レシピ一覧</h1>
	
	<!--検索-->
	<form action="/recipes" method="get">
		<input type="text" class="textBox" name="keyword" placeholder="料理名または材料名" th:value="${keyword}">
		<button>検索</button>
		<br>
	</form>
	
	<!--カテゴリー-->
	<categories>
	<a href="/recipes">全選択</a>
	
	<category th:each="category:${categories}">
		<a th:href="@{/recipes?categoryId={id}(id = ${category.id})}" th:text="${category.name}"></a>
	</category>
	</categories>

	<recipes>
	<table th:each="recipe:${recipes}">
		<tr>
			<td><recipe>
				<a th:href="@{/recipes/detail/{id}(id = ${recipe.id})}" th:text="${recipe.name}"></a>
				</recipe>
				<br>
				<userName>
					<a th:href="@{/recipes/user/detail/{id}(id = ${recipe.user.id})}">
						投稿者：[[${recipe.user.name}]]
					</a>
				</userName>
			</td>
		</tr>
	</table>
	</recipes>
		
</body>
</html>