<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${recipe.name}"></title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	
	<Detail>
	
	<h1 th:text="${recipe.name}"></h1>
	
	<table>
		<caption>
		<userName>
			<a th:href="@{/recipes/user/detail/{id}(id = ${recipe.user.id})}">
				投稿者：[[${recipe.user.name}]]
			</a>
		</userName>
		</caption>
		
		<tr>
			<th>
				材料
			</th>
			<th>
				作り方
			</th>
		</tr>
		<tr>
			<td th:utext="${recipe.material}" class="recipeDetail">
			</td>
			<td th:utext="${recipe.recipe}" class="recipeDetail">
			</td>
		</tr>
	</table>
	
	
	<form action="/recipes" method="get">
		<button>一覧へ戻る</button>
	</form>
	
	</Detail>
</body>
</html>